<nav>
    <ul>
        <li>
            <a [routerLink]="['/' + config.appUrlPrefix + 'admin']" routerLinkActive="active">Administration</a>
            <ul>
                <li><a [routerLink]="['/' + config.appUrlPrefix + 'admin/dashboard']" routerLinkActive="active">Dashboard</a></li>
                <li><a [routerLink]="['/' + config.appUrlPrefix + 'admin/actions']" routerLinkActive="active">Actions</a></li>
            </ul>
        </li>
        <li><a [routerLink]="['/' + config.appUrlPrefix + 'cms']" routerLinkActive="active">CMS</a></li>
        <li><a [routerLink]="['/' + config.appUrlPrefix + 'material']" routerLinkActive="active">Material</a></li>
        <li>
            <a [routerLink]="['/' + config.appUrlPrefix + 'polymer']" routerLinkActive="active">Polymer</a>
            <ul>
                <li><a [routerLink]="['/' + config.appUrlPrefix + 'polymer/button']" routerLinkActive="active">Button</a></li>
            </ul>
        </li>
        <li>
            <a [routerLink]="['/' + config.appUrlPrefix + 'vaadin']" routerLinkActive="active">Vaadin</a>
            <ul>
                <li><a [routerLink]="['/' + config.appUrlPrefix + 'vaadin/date-picker']" routerLinkActive="active">Date picker</a></li>
            </ul>
        </li>
    </ul>
</nav>